<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Crawling</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div>
    <h1>Web Crawling</h1>
    <br>
    <form action="/load" method="post">
        <p><input type="text" name="url" id="url" placeholder="Website URL...example: www.test.com"> <input type="submit" value="Start"></p>
    </form>
    <span class="error">Malformed URL. URL must be like www.test.com or http://www.test.com</span>
</div>
</body>
</html>